.th {
    padding-top: 10px;
    align-content: center;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
}

.div {
    padding: 5px;
}

.width_ {
    width: 220px;
}

.position {
    margin-left: 10%; /* Отступ слева */
    text-align: left;
    margin-top: 100px;
}